network:
  version: 2
  ethernets:
    primary:
      match:
        name: "en*"
      dhcp4: false
      addresses:
        - ${VM_STATIC_IP}/24
      routes:
        - to: default
          via: ${VM_GATEWAY}
      nameservers:
        addresses:
          - ${VM_GATEWAY}
